doctype html
html(lang="ru-Ru")
  head 
    meta(charset="UTF-8")
    title Контрактное производство БАД и косметики
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="css/style.min.css")
    

  body
    header.header__bg
      include ../sections/header
    main.page-main
      div.container
        a(href="#connect").connect Связаться с нами
      include ../sections/catalog
      div.constructor__bg
        include ../sections/constructor
      include ../sections/form
    include ../sections/footer
    
    script(type="text/javascript" src="js/jquery.min-3.4.1.js")
    script(type="text/javascript" src="js/script.js")
