section.capacity.container
  h2.capacity__title Производственные мощности
  ul.capacity__lists
    li
      a(href="capsule.html")
        img(src="img/capsule.svg")
        div.capacity__info
          h3 Капсулирование
          p Информация, статистика,<br> превью, описание
        span 200 000<br> доз в день
    li
      a(href="#")
        img(src="img/group.svg")
        div.capacity__info
          h3 Таблетирование
          p Информация, статистика,<br> превью, описание
        span 200 000<br> доз в день
    li
      a(href="#")
        img(src="img/capsules.svg")
        div.capacity__info
          h3 Блистерование
          p Информация, статистика,<br> превью, описание
        span 200 000<br> доз в день
    li
      a(href="#")
        img(src="img/baby-powder.svg")
        div.capacity__info
          h3 Сыпучие продукты
          p Информация, статистика,<br> превью, описание
        span 200 000<br> доз в день
    li
      a(href="#")
        img(src="img/ampule.svg")
        div.capacity__info
          h3 Ампулирование
          p Информация, статистика,<br> превью, описание
        span 200 000<br> доз в день
    li
      a(href="#")       
        img(src="img/clean.svg")
        div.capacity__info
          h3 Цех разлива
          p Информация, статистика,<br> превью, описание
        span 200 000<br> доз в день
    li
      a(href="#")
        img(src="img/drag.svg")
        div.capacity__info
          h3 Шипучие таблетки
          p Информация, статистика,<br> превью, описание
        span 200 000<br> доз в день
    li
      a(href="#")
        img(src="img/lotion.svg")
        div.capacity__info
          h3 Крема и гели
          p Информация, статистика,<br> превью, описание
        span 200 000<br> доз в день
  h2.power__title Дополнительные услуги
  ul.power__lists
    li
      a(href="#")
        img(src="img/sertificat.svg")
        p Сертифицирование продукции
    li
      a(href="#")    
        img(src="img/pack.svg")
        p Цех упаковки
    li
      a(href="#")
        img(src="img/structure.svg")
        p Разработка состава
    li
      a(href="#")
        img(src="img/trolley.svg")
        p Логистика
