section.capacity.container
  h1.capacity__title Производственные мощности
  ul.capacity__lists
    li
      a(href="capsule.html")
        img(src="img/capsule.svg")
        div.capacity__info
          p.capacity__info-title Капсулирование
          p Информация, статистика,<br> превью, описание
        span 200 000<br> доз в день
    li
      a(href="#")
        img(src="img/group.svg")
        div.capacity__info
          p.capacity__info-title Таблетирование
          p Информация, статистика,<br> превью, описание
        span 200 000<br> доз в день
    li
      a(href="#")
        img(src="img/capsules.svg")
        div.capacity__info
          p.capacity__info-title Блистерование
          p Информация, статистика,<br> превью, описание
        span 200 000<br> доз в день
    li
      a(href="#")
        img(src="img/baby-powder.svg")
        div.capacity__info
          p.capacity__info-title Сыпучие продукты
          p Информация, статистика,<br> превью, описание
        span 200 000<br> доз в день
    li
      a(href="#")
        img(src="img/ampule.svg")
        div.capacity__info
          p.capacity__info-title Ампулирование
          p Информация, статистика,<br> превью, описание
        span 200 000<br> доз в день
    li
      a(href="#")       
        img(src="img/clean.svg")
        div.capacity__info
          p.capacity__info-title Цех разлива
          p Информация, статистика,<br> превью, описание
        span 200 000<br> доз в день
    li
      a(href="#")
        img(src="img/drag.svg")
        div.capacity__info
          p.capacity__info-title Шипучие таблетки
          p Информация, статистика,<br> превью, описание
        span 200 000<br> доз в день
    li
      a(href="#")
        img(src="img/lotion.svg")
        div.capacity__info
          p.capacity__info-title Крема и гели
          p Информация, статистика,<br> превью, описание
        span 200 000<br> доз в день
  p.power__title Дополнительные услуги
  ul.power__lists
    li
      a(href="#")
        img(src="img/sertificat.svg")
        p Сертифицирование продукции
    li
      a(href="#")    
        img(src="img/pack.svg")
        p Цех упаковки
    li
      a(href="#")
        img(src="img/structure.svg")
        p Разработка состава
    li
      a(href="#")
        img(src="img/trolley.svg")
        p Логистика
