section.capsule.container
  h1.capsule__title Производственные мощности
  div.capsule__name
    img(src="img/capsule.svg")
    p.capsule__name-title Капсулирование
  p.capsule__text Информация, статистика, превью, описание, информация, статистика, превью, описание,  информация, статистика, превью, описание. Информация, статистика, превью, описание,  информация, статистика, превью, описание. Информация, статистика, превью, описание, информация, статистика, превью, описание,  информация, статистика, превью, описание. Информация, статистика, превью, описание,  информация, статистика, превью, описание. Информация, статистика, превью, описание, информация, статистика, превью, описание,  информация, статистика, превью, описание. Информация, статистика, превью, описание,  информация, статистика, превью, описание. Информация, статистика, превью, описание, информация, статистика, превью, описание,  информация, статистика, превью, описание. Информация, статистика, превью, описание,  информация, статистика, превью, описание.
  
  p.capsule__title Дополнительно
  ul.capsule__lists
    li
      a(href="#")
        img(src="img/group.svg")
        p Таблетирование
    li
      a(href="#")
        img(src="img/capsules.svg")
        p Блистерование
    li
      a(href="#")
        img(src="img/baby-powder.svg")
        p Сыпучие продукты
    li
      a(href="#")
        img(src="img/ampule.svg")
        p Ампулирование
    li
      a(href="#")     
        img(src="img/clean.svg")
        p Цех разлива
    li
      a(href="#")
        img(src="img/drag.svg")
        p Шипучие таблетки 
    li
      a(href="#")
        img(src="img/lotion.svg")
        p Крема и гели
