section.catalog.container
  h1.catalog__title Наша продукция
  section.catalog__block
    form(action="index.html" method="post").catalog__form
      p(id="form-1").catalog__form-title Форма выпуска<span>....................</span>
      ul(id="form-one").catalog__form-lists.catalog__form-hide
        li
          input(id="drops" type="checkbox")
          label(for="drops") Капли
        li
          input(id="capsule" type="checkbox")
          label(for="capsule") Капсулы
        li
          input(id="powder" type="checkbox")
          label(for="powder") Порошки
        li
          input(id="pop" type="checkbox")
          label(for="pop") Шипучие таблетки
      p(id="form-2").catalog__form-title Категории<span>..............................</span>
      ul(id="form-two").catalog__form-lists.catalog__form-hide
        li
          input(id="young" type="checkbox")
          label(for="young") Красота/Молодость
        li
          input(id="clean" type="checkbox")
          label(for="clean") Очищение
        li
          input(id="immunity" type="checkbox")
          label(for="immunity") Иммунитет
        li
          input(id="tone" type="checkbox")
          label(for="tone") Антистресс/Тонус/Память
        li
          input(id="women-health" type="checkbox")
          label(for="women-health") Женское здоровье
        li
          input(id="men-health" type="checkbox")
          label(for="men-health") Мужское здоровье
        li
          input(id="slim" type="checkbox")
          label(for="slim") Похудение
        li
          input(id="sport" type="checkbox")
          label(for="sport") Спортивное питание
    section.catalog__products
      span.catalog__icon
        input(id="search" type="search" placeholder="Поиск по названию").catalog__search
        label(for="search").visually-hidden Поиск по названию
      ul.catalog__products-lists
        li
          a(href="product.html")
            img(src="img/product.png")
            p.catalog__products-name Название препарата
            p Форма выпуска
            p Тип упаковки
            p Колличество в пачке
        li
          a(href="#")
            img(src="img/product.png")
            p.catalog__products-name Название препарата
            p Форма выпуска
            p Тип упаковки
            p Колличество в пачке
        li
          a(href="#")
            img(src="img/product.png")
            p.catalog__products-name Название препарата
            p Форма выпуска
            p Тип упаковки
            p Колличество в пачке
        li
          a(href="#")
            img(src="img/product.png")
            p.catalog__products-name Название препарата
            p Форма выпуска
            p Тип упаковки
            p Колличество в пачке
        li
          a(href="#")
            img(src="img/product.png")
            p.catalog__products-name Название препарата
            p Форма выпуска
            p Тип упаковки
            p Колличество в пачке
        li
          a(href="#")
            img(src="img/product.png")
            p.catalog__products-name Название препарата
            p Форма выпуска
            p Тип упаковки
            p Колличество в пачке
        li
          a(href="#")
            img(src="img/product.png")
            p.catalog__products-name Название препарата
            p Форма выпуска
            p Тип упаковки
            p Колличество в пачке
        li
          a(href="#")
            img(src="img/product.png")
            p.catalog__products-name Название препарата
            p Форма выпуска
            p Тип упаковки
            p Колличество в пачке
        li
          a(href="#")
            img(src="img/product.png")
            p.catalog__products-name Название препарата
            p Форма выпуска
            p Тип упаковки
            p Колличество в пачке
        li
          a(href="#")
            img(src="img/product.png")
            p.catalog__products-name Название препарата
            p Форма выпуска
            p Тип упаковки
            p Колличество в пачке
        li
          a(href="#")
            img(src="img/product.png")
            p.catalog__products-name Название препарата
            p Форма выпуска
            p Тип упаковки
            p Колличество в пачке
        li
          a(href="#")
            img(src="img/product.png")
            p.catalog__products-name Название препарата
            p Форма выпуска
            p Тип упаковки
            p Колличество в пачке
        
  p.power__title Дополнительные услуги
  ul.power__lists
    li
      a
        img(src="img/sertificat.svg")
        p Сертифицирование продукции
    li
      a(href="#")       
        img(src="img/pack.svg")
        p Цех упаковки
    li
      a(href="#")
        img(src="img/structure.svg")
        p Разработка состава
    li
      a(href="#")
        img(src="img/trolley.svg")
        p Логистика
