section.contacts.container
  h1.contacts__title Контакты
  section.contacts__blocks
    div.contacts__info
      div.contacts__block
        p.contacts__name СВЯЗАТЬСЯ С НАМИ
        p ООО: "РУСКОСМЕТИКС"
        p ОГРН: 1175476019212
        p ИНН: 5405995730
        p Адрес: 115230, Россия,<br> г. Москва, Дмитровское шоссе, д. 60
        p Телефон:
          a(href="tel:+79133934444") +7 (913) 393-44-44
        p E-mail:
          a(href="mailto:admin@uni-eco.com") admin@uni-eco.com
        p Время работы: с 9:00 до 20:00
      button(id="modal").contacts__button Отправить заявку
    div.contacts__map
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2239.5624124508076!2d37.56524531564143!3d55.852907991734625!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b537af95775231%3A0xd40eb08aa37116f5!2z0JTQvNC40YLRgNC-0LLRgdC60L7QtSDRiC4sIDYwLCDQnNC-0YHQutCy0LAsIDEyNzQ3NA!5e0!3m2!1sru!2sru!4v1557328355945!5m2!1sru!2sru" width="650" height="533" frameborder="0" style="border:0" allowfullscreen></iframe>
      
section.modal.form__block.modal__open
  form(action="index.html" method="post")
    span.modal__close
    label(for="name").visually-hidden Ваше имя
    input(id="name" type="text" name="name" placeholder="Ваше имя").form__input
    label(for="phone").visually-hidden Ваше имя
    input(id="phone" type="tel" name="phone" placeholder="Номер телефона").form__input
    label(for="mail").visually-hidden E-mail
    input(id="mail" type="mail" name="mail" placeholder="E-mail").form__input
    textarea(name="comments" rows="8" cols="49" placeholder="Комментарий")
    input(id="check" type="checkbox").form__check 
    label(for="check").form__check-text
      span  Я согласен с политикой конфиденциальности
    input(type="submit" value="Отправить заявку").form__submit
