footer.footer__bg  
  section.footer.container
    div.footer__elements
      ul.footer__items
        li
          ul.footer__social
            li
              a(href="#") 
                span.visually-hidden instagram
                img(src="img/instagram.svg")
            li
              a(href="#") 
                span.visually-hidden facebook
                img(src="img/facebook.svg")
            li
              a(href="#") 
                span.visually-hidden telegram
                img(src="img/telegram.svg")
        li
          a(href="tel:+79133934444") +7 (913) 393-44-44
        li
          a(href="mailto:admin@uni-eco.com") admin@uni-eco.com
        li
          p 115230, Россия, г. Москва,<br> Дмитровское шоссе, д. 60
    div(id="catalog1").footer__block
      h3(id="catalog") Каталог
      ul(id="catalog-open").footer__lists.footer__hide
        li
          a(href="#") Капли
        li
          a(href="#") Капсулы
        li
          a(href="#") Порошки
        li
          a(href="#") Шипучие таблетки
    div(id="shop1").footer__block
      h3(id="shop") Интернет-магазин
      ul(id="shop-open").footer__lists.footer__hide
        li
          a(href="#") Оплата
        li
          a(href="#") Доставка
        li
          a(href="#") Возврат и обмен
        li
          a(href="#") Частые вопросы
    div(id="company1").footer__block
      h3(id="company") Компания
      ul(id="company-open").footer__lists.footer__hide
        li
          a(href="#") О нас
        li
          a(href="#") Продукция
        li
          a(href="#") Контакты
        li
          a(href="#") Новости
    div(id="partner1").footer__block
      h3(id="partner") Партнерство
      ul(id="partner-open").footer__lists.footer__hide
        li
          a(href="#") Франшиза
        li
          a(href="#") Оптовикам
footer.footer__bg2
  div.footer__politic.container
    a(href="#") Политика конфиденциальности
