div.header.container
    div.header__menu
      a(href="index.html")
        img(src="img/logo.png")
      button.menu-open.menu-open--htx
        span Открыть меню
    nav.menu.menu-hide
      ul
        li
          a(href="index.html").menu__active Главная
        li
          a(href="catalog.html") Каталог
        li
          a(href="power.html") Производственные мощности
        li
          a(href="service.html") Услуги
        li
          a(href="contacts.html") Контакты
        li
          a(href="design.html") Конструктор
        li
          a(href="news.html") Новости
