section.container.head
  h1.head__title Контрактное производство<br> БАД и косметики
  ul.head__lists
    li
      a(href="#") Разработка
    li 
      a(href="#") Регистрация
    li
      a(href="#") Продукция “под ключ”
  button(href="#").head__link Связаться с нами
