section.info.container
  h1.new__title Новости нашей компании
  div.info__block
    span.info__category Категория
    div.info__info
      p.info__name Название, заголовок, о чем новость и на какую тему
      p.info__data 01.01.2020
  div.info__text
    p Самая большая дистанция, пройденная за 24 часа, сопровождаемая ведением баскетбольного мяча.
    p Можно отдыхать сколько хочется, но чем больше относишься к этому легко, тем меньше миль ты сможешь пройти. Применяются все стандартные правила, относящиеся к ведению баскетбольного мяча, включая «неперемещение», не хватание мяча ладонью и использование только одной руки.
    p Больше я не удерживаю этот рекорд, но я являюсь одним из немногих людей в мире, кто может воистину оценить по достоинству, через что пришлось пройти нынешнему рекордсмену. Вести баскетбольный мяч почти 100 миль на протяжении 24 часов – не шутка!
    p Я дважды устанавливал этот рекорд, но первый раз был настоящим приключением. Я отдыхал на красивом острове Фиджи в Тихом океане и получил разрешение использовать дорожку возле океана.
  ul.info__lists
    li.news__list.info__list
      img(src="img/news2.png")
      div.news__info2.info__info2
        p.news__name2 Новость 2
        p.news__description Описание новости, все что угодно, время, дата, название, участник. Описание новости, все что угодно, время, дата, название, участник. Описание новости, все что угодно,..
        p.news__data.news__data--color 01.01.2020
        a(href="").news__line.info__line Подробнее
    li.news__list.info__list
      img(src="img/news2.png")
      div.news__info2.info__info2
        p.news__name2 Новость 3
        p.news__description Описание новости, все что угодно, время, дата, название, участник. Описание новости, все что угодно, время, дата, название, участник. Описание новости, все что угодно,..
        p.news__data.news__data--color 01.01.2020
        a(href="").news__line.info__line Подробнее
