section.manufacture.container
  div.manufacture__blocks
    div.manufacture__block
      img(src="img/factory.svg").manufacture__img1
      div.manufacture__info
        p.manufacture__title Производство
        div.manufacture__text
          p Производимая продукция соответствует международным стандартам.
          p Современные производственные мощности.
          p Гарантия качества и безопасности выпускаемой продукции.
          p Процесс производства находится под круглосуточной видеосъёмкой.
        a(href="#") Подробнее
    div.manufacture__block.manufacture__block2
      div.manufacture__info
        p.manufacture__title Контрактное производство
        div.manufacture__text
          p Многолетний опыт работы в контрактном производстве.
          p Большое разнообразие форм выпуска продукции и упаковки.
          p Проверенные компании-поставщики.
          p Непревзойденная репутация.
        a(href="#") Подробнее
      img(src="img/contract.svg").manufacture__img2
