article.news.container
  p.news__title Последние новости
  section.news__blocks
    div.news__block.news__img
      span.news__category Категория
      div.news__info
        h3.news__name Название, заголовок, о чем новость и на какую тему
        p.news__data 01.01.2020
        a(href="").news__line-invert Подробнее
    div.news__block2
      ul.news__lists
        li.news__list
          img(src="img/news2.png")
          div.news__info2
            h3.news__name2 Новость 2
            p.news__description Описание новости, все что угодно, время, дата, название, участник. Описание новости, все что угодно, время, дата, название, участник. Описание новости, все что угодно,..
            p.news__data.news__data--color 01.01.2020
            a(href="").news__line Подробнее
        li.news__list
          img(src="img/news2.png")
          div.news__info2
            h3.news__name2 Новость 3
            p.news__description Описание новости, все что угодно, время, дата, название, участник. Описание новости, все что угодно, время, дата, название, участник. Описание новости, все что угодно,..
            p.news__data.news__data--color 01.01.2020
            a(href="").news__line Подробнее
