section.power.container
  h1.power__title Производственные мощности
  ul.power__lists
    li
      a(href="#")
        img(src="img/capsule.svg")
        p Капсулирование
    li
      a(href="#")
        img(src="img/group.svg")
        p Таблетирование
    li
      a(href="#")
        img(src="img/capsules.svg")
        p Блистерование
    li
      a(href="#")
        img(src="img/baby-powder.svg")
        p Сыпучие продукты
    li
      a(href="#")
        img(src="img/ampule.svg")
        p Ампулирование
    li
      a(href="#")     
        img(src="img/clean.svg")
        p Цех разлива
    li
      a(href="#")
        img(src="img/drag.svg")
        p Шипучие таблетки 
    li
      a(href="#")
        img(src="img/lotion.svg")
        p Крема и гели
  p.power__title Дополнительные услуги
  ul.power__lists
    li
      a
        img(src="img/sertificat.svg")
        p Сертифицирование продукции
    li
      a(href="#")       
        img(src="img/pack.svg")
        p Цех упаковки
    li
      a(href="#")
        img(src="img/structure.svg")
        p Разработка состава
    li
      a(href="#")
        img(src="img/trolley.svg")
        p Логистика
