section.product.container
  h1.product__title Наша продукция
  div.product__block
    section.product__block-img
      ul.product__lists
        li
          img(src="img/product-full.png")
        li
          img(src="img/product-full.png")
        li
          img(src="img/product-full.png")
      img(src="img/product-full.png")
    div.product__description
      span.product__name Название препарата
      p Биологически активная добавка к пище<br> Wiki Brain — натуральный препарат для стимуляции умственной активности на основе вытяжек и концентратов лекарственных растений. Улучшает передачу нервных импульсов и работу всех отделов головного мозга, помогает при нарушениях функции памяти. WikiBrain легко усваивается организмом и начинает действовать максимально быстро, дополнительно воздействуя на функции эндокринной, иммунной и нервной систем.
      table
        tr
          th 
            span Форма&nbspвыпуска:
          td 
            p Порошки
        tr
          th
            span Тип&nbspупаковки:
          td
            p Картон
        tr
          th
            span Колличество&nbspв&nbspпачке:
          td
            p 30 штук
        tr
          th
            span Условия&nbspхранения:
          td
            p Хранить в сухом, недоступном для детей месте, при температуре не выше +25°С
      button Рассчитать стоимость
  p.product__title Вас может заинтересовать
  ul.catalog__products-lists
    li
      a(href="product.html")
        img(src="img/product.png")
        p.catalog__products-name Название препарата
        p Форма выпуска
        p Тип упаковки
        p Колличество в пачке
    li
      a(href="#")
        img(src="img/product.png")
        p.catalog__products-name Название препарата
        p Форма выпуска
        p Тип упаковки
        p Колличество в пачке
    li
      a(href="#")
        img(src="img/product.png")
        p.catalog__products-name Название препарата
        p Форма выпуска
        p Тип упаковки
        p Колличество в пачке
    li
      a(href="#")
        img(src="img/product.png")
        p.catalog__products-name Название препарата
        p Форма выпуска
        p Тип упаковки
        p Колличество в пачке
    li
      a(href="#")
        img(src="img/product.png")
        p.catalog__products-name Название препарата
        p Форма выпуска
        p Тип упаковки
        p Колличество в пачке
    li
      a(href="#")
        img(src="img/product.png")
        p.catalog__products-name Название препарата
        p Форма выпуска
        p Тип упаковки
        p Колличество в пачке
