section.sertificat.container
  h1.service__title Услуги
  ul.service__lists
    li.sertificat__element
      div.sertificat__name
        p Сертифицирование продукции
      p.sertificat__text Информация, статистика, превью, описание, информация, статистика, превью, описание,  информация, статистика, превью, описание. Информация, статистика, превью, описание,  информация, статистика, превью, описание. Информация, статистика, превью, описание, информация, статистика, превью, описание,  информация, статистика, превью, описание. Информация, статистика, превью, описание,  информация, статистика, превью, описание. Информация, статистика, превью, описание, информация, статистика, превью, описание,  информация, статистика, превью, описание. Информация, статистика, превью, описание,  информация, статистика, превью, описание. Информация, статистика, превью, описание, информация, статистика, превью, описание,  информация, статистика, превью, описание. Информация, статистика, превью, описание,  информация, статистика, превью, описание.
      a(href="#") Заказать
    li
      div.service__img
        img(src="img/pack.svg")
      div.service__block
        div.service__info
          span Цех упаковки
          p Информация, статистика, превью, описание
        a(href="#") Подробнее
    li
      div.service__img
        img(src="img/structure.svg")
      div.service__block
        div.service__info
          span Разработка состава
          p Информация, статистика, превью, описание
        a(href="#") Подробнее
    li
      div.service__img
        img(src="img/trolley.svg")
      div.service__block
        div.service__info
          span Логистика
          p Информация, статистика, превью, описание
        a(href="#") Подробнее
      
